{% extends 'flo/base.html' %}
{% load static %}

{% block title %}비밀번호 재설정 안내{% endblock %}

{% block content %}
<div class="find-container">
  <div class="find-logo-box">
    <img src="{% static 'flo/images/light/header/light-logo.png' %}" alt="FL0 로고">
  </div>
  <h2 class="find-pending-title">이메일로 비밀번호 재설정 링크를 보냈어요!</h2>
  <h2 class="find-sub-title">메일함을 확인해 주세요! 스팸함도 함께 확인해 보세요.</h2>

  <div class="email-box">
    <span class="find-email-text">가입 이메일 : <strong>fxxxxx@exxxxx.com</strong>
        <button class="find-sub-in-btn">인증메일 다시 보내기</button>
    </span>
  </div>

  <div>
    <button class="find-button">
        <span>아이디가 기억나지 않는다면?</span>
        <span class="link-blue-indk">아이디 찾기</span>
    </button>
    <p class="sub-text">FLO 개인정보 고객센터</p>
  </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'flo/css/find_page.css' %}">
{% endblock %}
