{% extends 'flo/base.html' %}
{% load static %}

{% block title %}비밀번호 찾기 - 아이디 입력{% endblock %}

{% block content %}
<div class="find-container">
  <div class="find-logo-box">
    <img src="{% static 'flo/images/light/header/light-logo.png' %}" alt="FL0 로고">
  </div>
  <h2 class="find-title">비밀번호를 찾고자하는 아이디를 입력해주세요.</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="아이디" class="find-pw-id-input" required>
    <br>
    <button type="submit" class="find-button">다음</button>
  </form>
  <div class="find-text">
    아이디가 기억나지 않는다면? <a href="{% url 'accounts:find_id' %}" class="link-blue">아이디 찾기</a>
    <p class="sub-text">FLO 개인정보 고객센터</p>
  </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'flo/css/find_page.css' %}">
{% endblock %}
